{% set title = 'Acoustic App: Upload Tests'|t %}

{% import "_includes/forms" as forms %}
{% extends 'acoustic-app/layout/_cp' %}
{% set selectedTab = 'upload' %}

{% block content %}
	{% set form = true %}
	<form class="uk-form" enctype="multipart/form-data" method="POST">
		{# {% set data = craft.app.request.getBodyParam('data') %}
		{% set test = craft.app.request.getBodyParam('test') %} #}
		{% if data is defined and data.tests is defined %}
		<p>Upload complete</p>
		<table class="data fullwidth">
			<tr>
				<th>Tests processed: </th>
				<td>{{ data.tests }}</td>
			</tr>
			<tr>
				<th>Seals processed:</th>
				<td>{{ data.seals }}</td>
			</tr>
		</table>
		{% if data.fail|length %}
		<p>We could not find matching products for the following codes:</p>
		<table class="data fullwidth">
		{% for item in data.fail %}
			<tr><td>{{ item }}</td></tr>
		{% endfor %}
		</table>
		{% endif %}
		{% set form = null %}

		{% elseif data is defined and data.cols is defined %}
			{% set vals = {} %}
			{% for item in data.cols %}
				{% set vals = vals|merge({ (item): loop.index0 }) %}
			{% endfor %}
			{% set cols = {'':'===='}|merge(data.cols) %}
			{% for row in data.header %}
				{{ forms.selectField({
				    label: row,
				    options: cols,
				    value: vals[row|trim] is defined ? vals[row|trim],
				    id:  'col_' ~ loop.index0,
				    name:  'col_' ~ loop.index0 })
				}}	
			{% endfor %}
			<input type="hidden" name="step" value="1" />
			<input type="hidden" name="cols" value="{{ data.header|length }}" />
			<input type="hidden" name="data" value="{{ data.data }}" />
		{% else %}
			{{ forms.fileField({
			    label: 'Tests file',
			    instructions: 'CSV file',
			    id: 'testsFile',
			    name: 'testsFile' })
			}}
		{% endif %}
		{% if form %}
		{{ csrfInput() }}
	    <input type="hidden" name="action" value="acoustic-app/tests/upload-tests" />
	    <div class="buttons">
	        <button type="submit" class="btn submit add icon">{{ "Upload!"|t }}</bnutton>
	    </div>
	    {% endif %}
	</form>

{% endblock %}