{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Acoustic App plugin for Craft CMS 3.x
 *
 * Acoustic App index.twig
 *
 * @author    @asclearasmud
 * @copyright Copyright (c) 2018 @asclearasmud
 * @link      http://ournameismud.co.uk/
 * @package   AcousticApp
 * @since     1.0.0
 */
#}

{% set title = 'Acoustic App: Seals'|t %}
{% do view.registerAssetBundle("ournameismud\\acousticapp\\assetbundles\\acousticapp\\AcousticAppAsset") %}
{% extends 'acoustic-app/layout/_cp' %}
{% set selectedTab = 'seals' %}
{% set selectedSubnavItem = 'seals' %}

{% import "_includes/forms" as forms %}

{% block content %}
	
	{% set seals = craft.acousticApp.getSeals() %}
	{% for key, seal in seals %}
	{# <h2>{{ key }}</h2> #}
	<table class="data">
		<thead>
		<tr>
			<th>Product</th>
			<th>Seal</th>
			<th>Quantity</th>
		</tr>
	</thead>
	{% for row in seal %}
	<tr>
		<td>{{ row.name }}</td>
		<td>{{ key }}</td>
		<td>{{ row.quantity }}</td>
	</tr>
	{% endfor %}
	</table>
		{# <pre>{{ dump(seal) }}</pre> #}
	{% endfor %}
	
{% endblock %}