{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Acoustic App plugin for Craft CMS 3.x
 *
 * Acoustic App index.twig
 *
 * @author    @asclearasmud
 * @copyright Copyright (c) 2018 @asclearasmud
 * @link      http://ournameismud.co.uk/
 * @package   AcousticApp
 * @since     1.0.0
 */
#}

{# {% redirect url('acoustic-app/index') %} #}
{% set title = 'Acoustic App: Favourites'|t %}
{% do view.registerAssetBundle("ournameismud\\acousticapp\\assetbundles\\acousticapp\\AcousticAppAsset") %}
{% extends 'acoustic-app/layout/_cp' %}
{% set selectedTab = 'favourites' %}
{% set selectedSubnavItem = 'favourites' %}

{% set faves = craft.acousticApp.getFaves() %}

{% import "_includes/forms" as forms %}

{% block content %}
	{#  TO DO: formatting here #}
	<table class="data">
	<thead>
		<tr>
			<th>Test</th>
			<th>User</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
	{% for fave in faves %}
	<tr>
		{% set user = craft.users({ id: fave.userId})|first %}
		<td>
			<a href="{{ url('/admin/acoustic-app/tests/test/' ~ fave.testId) }}">Test {{ fave.testId }}</a>
		</td>
		<td>
		{% if user|length %}
			<a href="{{ url( 'users/' ~ fave.userId ) }}" target="_blank">{{ user.fullName }}</a>
		{% else %}
			<s>Legacy User</s>
		{% endif %}
		</td>
		<td>
		{{ fave.dateUpdated|date('jS F Y') }}
		</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>
{% endblock %}